<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="Imagenes/logo.ico">
    <link rel="stylesheet" href="/css/styles2.css">
    <title>Funes Nariño Colombia</title>

  </head>
  <body>
    <div class="contenedor">
		  <header class="header">
			  <h1 class="titulo">Funes Nariño Colombia</h1>
        <ul>
          <li class="n1"><a href="/instituciones">Instituciones</a></li>
          <li class="n1"><a href="/historia">Historia</a></li>
          <li class="n1"><a href="/imagenes">Imagenes</a></li>
          <li class="n1"><a href="/quehacer">Que hacer en Funes</a></li>
          <li class="n1"><a href="/ubicacion">Ubicacion</a></li>
        </ul>
		  </header>
		  <article class="contenido">
			  <h1>Un poco de  Historia</h1>

			  <p>
          Era el año de 1616 y un día propicio para que naciera un nuevo pueblo, el 2 de junio,
          los habitantes de lo que hoy son los municipios de Funes, Iles, Imues y Yacuanquer.
          El padre viceprovincial Lucas Funes y el padre Miguel de Téllez , decidieron fundar un
          poblado que sea el asiento de un futuro y próspero pueblo.
				<br><br>

				<h1>Narrativo</h1>
         Viceprovincial
         padre Lucas Funes en compañía
         del padre Miguel de Téllez, perteneciente
         a la Compañía de Jesús,
         también viajaron a estas tierras y acamparon
         en la región arriba del rió angasmayo.
         Se encontraban por estos lugares impartiendo
        instrucciones cristianas de los mercedarios
        y dominicos, quienes les ayudaron a guiarlos
        con el conocimiento importante región
         del país de “los señores
         de la luna”, o de los quillasingas.
				<br><br>

				A pesar que este tipo
        de documentos no definen límites ni jurisdicción,
        en términos reales, se ha creado en la
        memoria colectiva, un nuevo proceso de consolidación
        limítrofe
			  </p>
		  </article>
		  <aside class="sidebar">
		  	<h3>Simbolos Patrios</h3>
        <div class="imagen">
          <img src="Imagenes/Funes.jpg" alt="bandera de Funes"><br>
          <p>Bandera Municipio de Funes</p><br>
          <p>"Neftalí Benavides Rivera, es el autor de nuestra Bandera, simbolo
           que representa en el significado de sus colores, los mas caros valores
           de nuestro territorio y de nuestras gentes: El color blanco como fondo
           simboliza nuestras grandes virtudes humanas. El color Rojo : simboliza
           la sangre de nuestros soldados, vertida en la primera y la última batalla,
           que enmarcan la independencia y la libertad de la Patria. El color amarillo:
           simboliza la riqueza y la fecundidad de nuestra tierra. La franja azul angosta:
           simboliza el Rio Guitara; rio tutelar e histórico en cuyo centro se unen
           los dos ángulos, rojo y amarillo que dan la idea de " La Tarabita" donde se efrentaron
           las fuerzas patriotas del Ecuador con las realistas de Pasto y Funes. El blanco y el azul:
           son el simbolo de la "Inmaculada Concepción como hoy se denomina la parroquia de Funes
           finalmente, sobre el aplio fondo blanco, campean los colores amarillo, azul y rojo:
           que son los colores de la bandera colombiana."</p>
        </div>
	  	</aside>
		<div class="widget-1">
      <img src="Imagenes/Funes.jpg" alt="bandera de Funes"><br>
		</div>
		<div class="widget-2">
      <img src="Imagenes/Funes.jpg" alt="bandera de Funes"><br>

		</div>
		<footer class="footer">
		<div class="footer">
  <span>FOOTER</span>
  <a href="/login" class="login-btn">Login</a>
</div>
		</footer>
	</div>
   
  </body>
</html>
